<div class="container">
  <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

 <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @pick_up.title %></h5>
          <p class="card-text"><%= @pick_up.body %></p>

        </div>
      </div>
    </div>
  </div>
</div>
