<div class='container'>
  <div class='row no-gutters mt-5 mb-5'>
    <div class='col-md-6'>
      <%= image_tag 'about.jpg', class: 'img-fluid top-description__img' %>
    </div>
    <div class='col-md-6'>
      <div class='container-fluid h-100 d-flex flex-column justify-content-center'>
      <h2>My Cafeとは</h2>
         <p>貴方にとってcafeとはどんな場所でしょうか？<br>
            食事やコーヒーを楽しむ場所、友人との特別なひとときを過ごす場所、自分だけの時間をゆったりと楽しむ場所──カフェは、それぞれの人にとって異なる魅力を持つ場所です。
         </p>
         <p>My Cafe（マイカフ）は、京都の地元住民の方や観光客の方向けに、京都でのカフェ巡りをより楽しむための情報を発信するレビューサイトです。
            最新の情報や特集記事を通じて、魅力的なカフェを簡単に見つけられるようにします。<br>
            My Cafeが私と同じようにカフェ巡りを楽しむ人々の素敵な時間を過ごせるお手伝いになりますように。
         </p>

      </div>
    </div>
  </div>
</div>
