<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-font {
    font-family: 'Poppins', sans-serif;
  }
</style>

<div class="container mt-4 mb-4">
 <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="image-container">
            <%= image_tag 'pri.png', size:'200x120' %>
          </div>
          
          <h2 class="mt-4 custom-font">1. 初めに</h2>
          <p>My cafe（以下、「当サイト」）は、利用者のプライバシーを尊重し、個人情報の保護に努めています。</br>
          本プライバシーポリシーは、当サイトがどのように個人情報を収集、使用、共有、保護するかについて説明します。</p>
          
          <h2 class="mt-4 custom-font">2. 収集する情報</h2>
          <ul>
            <li>名前、メールアドレスなどの連絡先情報</li>
            <li>ユーザー名、パスワード、その他のアカウント設定</li>
            <li>カフェに対するレビュー・お気に入り情報などの利用履歴</li>
            <li>IPアドレス、ブラウザの種類、アクセス日時、閲覧ページなどの技術情報</li>
          </ul>
          
          <h2 class="mt-4 custom-font">3. 情報の使用</h2>
          <p>収集した情報は以下の目的で使用します。</p>
          <ul>
              <li>サービスの提供及び改善</li>
              <li>ユーザーサポートの提供</li>
              <li>法令の遵守および法的要求への対応</li>
          </ul>
          
          <h2 class="mt-4 custom-font">4. 情報の共通及び開示</h2>
          <p>当サイトは、以下の場合を除き、収集した個人情報を第三者に開示することはありません。</p>
          <ul>
              <li>ユーザーの同意がある場合</li>
              <li>法令に基づく要求がある場合</li>
              <li>サービスの提供に必要な場合（例：技術サポート、データ分析など）</li>
              <li>事業譲渡、合併、再編成などの場合</li>
          </ul>
          
          <h2 class="mt-4 custom-font">5. 情報の保護</h2>
          <p>当サイトは、ユーザーの個人情報を保護するために、適切なセキュリティ対策を講じています。これには、データの暗号化、アクセス制限、定期的なセキュリティレビューが含まれます。</p>
          
          <h2 class="mt-4 custom-font">6. ユーザーの権利</h2>
          <p>ユーザーは、以下の権利を有します。</p>
          <ul>
              <li>自身の情報の確認、修正、削除の権利</li>
              <li>データポータビリティの権利</li>
          </ul>
          
          <h2 class="mt-4 custom-font">7. ポリシーの変更</h2>
          <p>本プライバシーポリシーは、予告なく変更されることがあります。変更があった場合は、当サイトにて通知いたします。変更後のポリシーは、当サイトに掲載された時点で有効となります。</p>
          
          <h2 class="mt-4 custom-font">8. お問い合わせ</h2>
          <p>プライバシーに関するお問い合わせは、以下の連絡先までお願いします。</p>
          <p>メールアドレス: support@mycafe.com</p>
          
        </div>
      </div>
    </div>
 </div>
</div>