<div class="container">
  <h4>編集ページ</h4>

  <%= form_with model: @tag, url: admin_tag_path(@tag), local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "Tag名" %>
      <%= f.text_field :name %>
      <%= f.submit "変更保存", class: "btn btn-sm btn-outline-info" %>
     </div>
  <% end %>
</div>
