<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card my-4">
        <div class="card-body text-center">
          <h3 class="card-title">本当に退会しますか?</h3>
          <p class="card-text">
            退会すると、会員情報は無効化され、<br>
            これまでのいいね・評価・コメントは引き続き表示されますが<br>
            同じメールアドレスでの再登録やログインはできなくなります。<br>
            退会する場合は「退会する」をクリックしてください。
          </p>
          <div class="mb-3 text-center mt-3">
            <%= link_to out_users_path(current_user), method: :patch, class:'btn btn-danger' do %>
              退会する <i class="fa-regular fa-face-sad-tear"></i>
            <% end %>
            <%= link_to user_path(current_user), class:'btn btn-primary ml-4' do %>
              退会しない <i class="fa-regular fa-face-smile"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



