<div class="border-top row">
  <div class="col-4 d-flex justify-content-end align-items-center">
    <!-- 左側の空の列 -->
  </div>
  
  <div class="col-4 d-flex justify-content-center align-items-center">
    <h6 class="mt-4">お問い合わせはこちら</h6>
  </div>
  
  <div class="col-3 d-flex justify-content-end align-items-center">
    <%= image_tag '6.png', style: 'max-width: 90%; max-height: 90%;' %>
  </div>
  <div class="col-1"></div>
</div>
