<div class="border-top row">
 <div class="col-4"></div>
  <div class="col-1"></div>
 <h6 class ="mt-4 ml-2">お問い合わせはこちら</h6>
 <div class="col-2"></div>
  <%= image_tag '6.png', size: '200x133' %>
</div>