<div class="border-top row">
  <div class="col-4"></div>
  
  <div class="col-4 d-flex justify-content-center align-items-center">
    <h6 class="mt-4"><i class="fa-solid fa-cookie-bite fa-sm" style="color: #90774c;"></i> my cafe</h6>
  </div>
  
  <div class="col-3 d-flex justify-content-end align-items-center">
    <%= image_tag '6.png', style: 'max-width: 75%; max-height: 75%;' %>
  </div>
  <div class="col-1"></div>
</div>
